/ServerCommunicator.class
/ServerConnection.class
/TCPListenerThread.class
/test.class
/checkerStarter.class
/entryPoint.class
/MainClient.class
/MainForTesting.class
/TestDesign$1.class
/TestDesign.class
